In [4]:
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

In [8]:
dict1 = {'one': 1, 'two': 2, 'three': 3, 'four': 4}

print(sum(dict1.values()))

10

In [11]:
multi = 1
for i in dict1.values():
    multi *= i

In [12]:
multi

24

In [22]:
tupled = tuple(i for i in range(5))
print (tupled[2])

2

In [23]:
list(tupled)

[0, 1, 2, 3, 4]

In [10]:
tupled = 'alex','yo','pao'

In [11]:
(name,points,team) = tupled

In [12]:
tupled

('alex', 'yo', 'pao')

In [13]:
tupled +=('five')

TypeError: can only concatenate tuple (not "str") to tuple

In [14]:
tupled

('alex', 'yo', 'pao')

In [15]:
tupled

('alex', 'yo', 'pao')

In [16]:
set(tupled)

{'alex', 'pao', 'yo'}

In [18]:
for i in set(tupled):
    print (i)

pao
alex
yo

In [19]:
newset = set(tupled)

In [20]:
newset

{'alex', 'pao', 'yo'}

In [21]:
newset.add('wisdom')

In [37]:
newset

{'alex', 'i', 'm', 'n', 'pao', 't', 'w', 'wisdom', 'yo'}

In [38]:
newset[:]

TypeError: 'set' object is not subscriptable

In [28]:
newset.update(['newitem'])

In [29]:
newset

{'alex', 'e', 'i', 'm', 'n', 'newitem', 'pao', 't', 'w', 'wisdom', 'yo'}

In [30]:
newset.remove('newitem')

In [32]:
newset

{'alex', 'e', 'i', 'm', 'n', 'pao', 't', 'w', 'wisdom', 'yo'}

In [35]:
newset.remove('e')

In [36]:
newset

{'alex', 'i', 'm', 'n', 'pao', 't', 'w', 'wisdom', 'yo'}

In [39]:
newset.pop()

'alex'

In [40]:
newset

{'i', 'm', 'n', 'pao', 't', 'w', 'wisdom', 'yo'}